.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.chat-messages-container p {
    color: #787878;
    font-size: 16px;
    margin-top: 550px;
}
