.send-button {
    width: 75px;
    height: 42px;
    color: white;
    background-color: #198754;
    padding: 12px 20px;
    border-radius: 0.5rem;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.chat-input {
    border-radius: 0.5rem;
    padding: 12px 15px;
    border: 1px solid black;
    font-size: 15px;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}